<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.himat.twitter_top</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>BF4745AE-3DAE-4E9F-B74E-E66FFAA53802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF331805-8699-420F-8F72-BD4C89A9FFA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF331805-8699-420F-8F72-BD4C89A9FFA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF9F4F76-E95B-4E10-8300-B81FEF2F26BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hima Tammineedi</string>
	<key>description</key>
	<string>Views a profile's top tweets from before the past few months</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Twitter profile top tweets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>twitter top tweets</string>
				<key>subtext</key>
				<string>Must have their twitter profile URL copied in clipboard</string>
				<key>text</key>
				<string>Show this user's top tweets over time from before today</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BF4745AE-3DAE-4E9F-B74E-E66FFAA53802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF9F4F76-E95B-4E10-8300-B81FEF2F26BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./get_top_tweets_url.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF331805-8699-420F-8F72-BD4C89A9FFA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AF9F4F76-E95B-4E10-8300-B81FEF2F26BC</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>BF4745AE-3DAE-4E9F-B74E-E66FFAA53802</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CF331805-8699-420F-8F72-BD4C89A9FFA3</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
